<!doctype html>
<html>
    <head>
            <link rel="stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/style.css') }}">
            <link rel="stylesheet" href="../static/css/style.css">
            <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
            <link href="css/style.css" rel="stylesheet"/>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">  -->
            <meta charset="utf-8">
        {% block head_section %}
        <title>{{title}}</title>
        <style>
                body { background: url(https://www.ubackground.com/_ph/4/575685698.jpg); background-size: 100%;} 
            </style>
            
        {% endblock %}
    </head>
    
<body>
<nav class="navigation">
    <ul>
        <li><a href="/">Headquarters</a></li>
        <li><a href="/enlist">Enlist</a></li>
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signout">At Ease</a></li>
        <li><a href="/quiz">Quick Quiz</a></li>
    </ul>
</nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
        {% endwith %}

    {% block content %}

    {% endblock %}
    <div id="banner">
        <div class="content">
            <h1>Are you ready for the most emmersive trivia app you'll ever see this side of Wall Maria? 
                Then prepare yourself to give your heart in pursuit of freedom for all of mankind!!
            </h1>
        </div>
    </div>


</body>
</html>